#container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
}

#main {
  margin-top: 55px;
  border-radius: 2px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
}
